{{ define "title" }}Gallery{{ end }}

{{- define "body" -}}
        <div>
            <h1>Gallery</h1>
            <a href="/upload">&lt;&lt; Back to Upload</a>
        </div>
        <ul>
            {{ range .Filenames }}
            <li>
                <div>
                    <img src="/uploads/{{.}}" />
                    <button hx-delete="/gallery/{{.}}" hx-swap="delete" hx-target="closest li">
                        <i data-lucide="trash-2" width=18></i>
                        Delete
                    </button>
                </div>
            </li>
            {{ end }}
        </ul>
{{- end -}}
